In [ ]:
#libraries
import pandas as pd
import numpy as np
import pickle

#tools
#for plotting 
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sb
%matplotlib inline
base_color = sb.color_palette()[0]
#for analysis
import pandas_profiling
#for training model
from sklearn.model_selection import train_test_split
from sklearn import linear_model

In [68]:
naturaldisasters = pd.read_csv('natural disaster.csv')
natdis=naturaldisasters.fillna(0)
natdis.head()

,Country,ISO_CODE,Year,Deaths,Cause,Male POP,Female POP,Total Pop,GDP,PCAP
0,Afghanistan,AFG,1980,0,Natural Disaster,6788279.0,6568232.0,13356511.0,3.641723e+09,272.655286
1,Albania,ALB,1980,0,Natural Disaster,1371795.0,1300202.0,2671997.0,0.000000e+00,0.000000
2,Algeria,DZA,1980,2635,Natural Disaster,9682121.0,9539544.0,19221665.0,4.234528e+10,2202.997365
3,American Samoa,ASM,1980,0,Natural Disaster,0.0,0.0,0.0,0.000000e+00,0.000000
4,Angola,AGO,1980,0,Natural Disaster,4226098.0,4115191.0,8341289.0,5.930503e+09,710.981648

In [69]:
# features
feature=['Deaths', 'Male POP', 'Female POP', 'GDP']
x=natdis[feature]
y= natdis['PCAP']

In [70]:
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.1,)

In [71]:
linear= linear_model.LinearRegression()
linear.fit(x_train,y_train)
linear.score(x_val,y_val)

0.13750466969069852

In [74]:
#saving the model
with open ('risks.pickle','wb') as f:
    pickle.dump('linear', f)
pickle_in=pickle.load('risk.pickle', 'rb')

TypeError: 'LinearRegression' object is not iterable

this is the end of the code